*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3 h4 {
    font-family: 'Merriweather', serif;
   
}

.main-div{
    width: 90%;
    margin: auto;
    text-align: center;
}
.banner {
    width: 90%;
    height: 600px; 
    text-align: center;
    margin: auto;
    background-image: url("image/Banner\ Image.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  } 
  .text-container {
    text-align: center;
    color: white; 
  }
  .text-container h4{
    font-size: 32px;
    font-weight: 400;
  }
  .text-container h2{
    font-size: 72px;
    padding: 0 300px 0 300px;
    font-weight: 900;
  }
  .categorie{
    text-align: center;
  }
 .categorie h2{
    font-size: 88px;
    color: #F00;
    font-weight: 700;
    margin: 35px;
 }
 .categorie p {
    font-size: 24px;
    font-weight: 500;
    color: #F00;
    margin: 10px 0;
 }
 .categorie h3{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
 }


 .party {
    width: 90%;
    height: 600px; 
    text-align: center;
    margin: auto;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: ;
    margin-top: 20px;
  } 


  .portfolio-main{
    margin: 20px 50px;
    text-align: left;
  }
 .portfolio-image{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
 }
 .portfolio-text{
    margin: 30px 0;
 }
 .portfolio-text h5{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
 }
 .portfolio-text h2{
    font-size: 48px;
    font-weight: 900;
    color: #070211;
 }
.portfolio-text p{
    color: #07020B99;
}

