*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3 h4 {
    font-family: 'Merriweather', serif;
   
}
.banner {
    width: 90%;
    height: 600px; 
    text-align: center;
    margin: auto;
    background-image: url("image/Banner\ Image.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  } 
  .text-container {
    text-align: center;
    color: white; 
  }
  .text-container h4{
    font-size: 32px;
    font-weight: 400;
  }
  .text-container h2{
    font-size: 72px;
    padding: 0 300px 0 300px;
    font-weight: 900;
  }
  .categorie{
    text-align: center;
  }
 .categorie h2{
    font-size: 88px;
    color: #F00;
    font-weight: 700;
    margin: 35px;
 }
 .categorie p {
    font-size: 24px;
    font-weight: 500;
    color: #F00;
    margin: 10px 0;
 }
 .categorie h3{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
 }
  